// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new {
  height: 100vh;

  nav {
    background-color: #3775be;

    div {
      a {
        text-decoration: none;
        color: white;
      }
    }

    input {
      border: none;
      background-color: #3775be;
      color: white;
      font-family: 'ProximaNovalight', sans-serif;
      font-size: 2rem;
      margin: 0;
    }
  }

  .form {
    width: 100%;
    margin-top: 2rem;

    form {
      width: 100%;

      .field {
        width: 100%;

        .name {
          width: 100%;
          border: none;
          padding: 2rem;
          font-size: 3rem;

          &::placeholder {
            color: #a1a1a1;
          }
        }
      }
    }
  }
}
